
.container {
    display: block;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    top: 0;
    background-color: rgb(220, 220, 209);
    height: auto;
}
.logo {
    margin-right:auto;
}
.logo img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.logo-image2{
    display: none;
}

.nav-bar-content {
    display: flex;
    justify-content:space-around;
    text-align: right;
}

.nav-list-content-first {
    margin-right: 10px;
}


.nav-list-content {
    display:inline-flex ; 
    list-style-type: none;
}

.nav-list {
    color:blue;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-left: 15px;
    text-align: left;
}

.nav-list-content-first #estude{
    color:#ffffff;
    background-color: rgb(210, 208, 212);
    border:solide 2px;
    text-align: center; 
    width: fit-content;
    padding: 4px;
    border: solid 2px rgb(156, 171, 132);
    border-radius: 10px;
}

a {
    text-decoration: none;
}


.img{
    display: flex;
    margin-right: -0.5rem;
}

.img img{
    margin-top: 3.8rem;
    width: 100%;
    height:40%;
}

.Sobre_Nos{
    background-color: rgb(255, 255, 255);
    height: 450px ;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 2.3rem;
}

.Sobre_Nos #about_text #hd{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    border-block: solid 0.2rem rgb(176, 176, 180);
    width: 60%;
    margin-left: 20%;
}

/* sizing image and text in the same block*/
#about_total {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: auto;
    border-radius: 2rem;
    text-align: center; 
}

/* Controlling the image in the about block*/
#about_total #about_img{
    width: 130%;
    border-radius: 10px;
    background-color: rgb(144, 144, 234);
    padding: 2px;
    border: dotted blue 2px;
    
}

#about_total #about_img img{
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 10px;
    height: 410px;
}
#about_total #about_img2 .about_img2{
    display: none;
    
}

#about_total #about_text{
   text-align: center;
   width: 50;
   background-color: rgb(255, 255, 255);
   margin: 10px;
   align-items: center;
   border: dotted blue 1.2px;
}

#about_total #about_text p{
    font-size: larger;
    text-align:left;
    width: 50;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
 }


.Nos_Escolher{
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.Nos_Escolher #hd{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    border-block: solid 0.2rem rgb(194, 194, 241);
    margin-right: 34%;
    margin-left: 34%;
    margin-top: -0.6rem;
}


.Nos_Escolher .course{
    align-items: center;
    border:solid dotted 1px;
    color: rgb(14, 2, 192);
    text-align: center;
    margin-top: -1rem;
    
}

.Nos_Escolher .course-card{
    display: flex;
    justify-content: space-between;
    height: 99%;
    width: 99%;
    border-radius: 12px;
    
}


.Nos_Escolher .course-card :hover{
    transform: translateY(-0.5rem);
    transition-duration: 0.7s;
}


.Nos_Escolher .course .course-card .card{
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    width: 50%;
    height: 100%;
    font-size: 18px;
    margin: 2px;
    border: dotted blue 1px;
   
}

.Nos_Escolher .course .course-card .card  p{
    text-align: left;
    margin-right: 8px;
    margin-left: 8px;
    color: rgb(22, 21, 21);
 }
 

 .Nos_Escolher .course .course-card .card .img_nos img{
    width: 99%;
    height: 60%;
 }


.Nos_Escolher .course .course-card .card .space_1{
    height: 2rem;
 }
 
.Nos_Escolher .course .course-card .card .space_2{
    height: 3rem;
 }
 
.Nos_Escolher .course .course-card .card .space_3{
    height: 3rem;
 }
 
 
.Nos_Escolher .course .course-card .card .space_4{
    height: 4.6rem;
 }
 


.Nos_Escolher .course .course-card .card h3{
   font-size: 30px;
   margin-bottom: -1rem;
}



.courses{
    height: 100%;
    color: rgb(14, 2, 192);
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 3rem;
    background-color: rgb(255, 255, 255);
}
   


.courses #hd{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    border-block: solid 0.2rem rgb(194, 194, 241);
    margin-right: 34%;
    margin-left: 34%;
}


.courses .course-card .card  p{
    text-align: left;
    margin-right: 8px;
    margin-left: 8px;
    color: rgb(22, 21, 21);
    text-wrap: balance;
 }
 

.courses .course-card{
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin-top: 1rem;
    padding-bottom: 3.6rem;
    height: 100%;
    text-wrap: wrap;
   
}


.courses .course-card .card{
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    width: 33%;
    font-size: 20px;
    margin: 2px;
    border: dotted blue 1px;
    height: 100%;
}


.courses .course-card :nth-child(2) p{
    margin-bottom: 5.5rem;
}


.courses .course-card :nth-child(3) p{
    margin-bottom: 2.7rem;
}

.courses .course-card :hover{
    transform: translateY(-0.5rem);
    transition-duration: 0.7s;
}


/* ---------Footer section ---------------------- */
.footer_all{
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    display: flex;
    border:dotted  2px rgb(25, 0, 166);
}

.footer_all .left{
    width: 50%;
    border-right: dotted 2px  rgb(25, 0, 166);
}

.footer_all .left .contato h3{
    text-align: center;
    padding: 1rem;
    color: blue;
    font-size: 40px;
}

.footer_all .left .contato #ptext h4{
    margin: 0.3rem;
    font-size: 25px;
}


.footer_all .left .contato #ptext h4 address{
   word-wrap: break-word;
    
}

.footer_all .left .contato #ptext address{
    margin: 0.2rem;
    justify-content: space-around;
    display: flex;
}



/*--------------- Registration form parte of the code ----------------------------- */
/* Add your own styles here if needed */
.container_reg{
  font-family: Arial, sans-serif;
  background-color: #a39c9c;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container_reg form {
  max-width: 400px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_reg label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

.container_reg input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.container_reg button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.container_reg .logo_reg {
    display: flex;
    background-color: #ffffff;
    border:dotted 1px blue;
    height: 75px;
    margin-top: 1rem;
    width: 100%;
    background-color: #a39c9c;
}

.logo_reg .logo_center{
    display: flex;
    margin: 0.2rem;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 100%;
  }

.logo_reg img{
    width:70px;
    height: 70px;
    margin-left: 65%;


}

.logo h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: blue;
    margin-top: -0.08rem;
}

button:hover {
  background-color: #45a049;
}

.container_reg h4{
    font-size: 24px;
    padding: .2rem;
}




/* --------------Redes parte, Right side of the code---------------- */
.footer_all .redes{
    width: 50%;
    height: fit-content;
    margin-left: 3rem;
    
}

.footer_all .redes h3{
    text-align: center;
    padding: 1rem;
    font-size: 40px;
    color: blue;
}

.footer_all .redes .rede-img{
   display: flex;
   justify-content: space-around;
   margin-left: 3%;
   width: 100%;
}


.footer_all .redes .rede-img img{
    border-radius: 100%;
    height: 60%;
    width: 60%;
    
    
}

.footer_all .redes .rede-img #face{
    border-radius: 100%;
    height: 40%;
    width: 40%; 
}


.footer_all .redes .rede-img h5{
    font-size: 18px;
    justify-content: space-around;
    text-wrap: balance;
    margin: 0.6rem;
    
    
}

.footer_all .redes .rede-img .rede_txt{
    text-wrap:pretty;
}

.subsection {
    bottom: 0;
    text-align: centers;
    justify-content: center;
    margin-left: 40%;
    font-size: large;
    color: blue;
}



  /*-------------- MEDIA QUERY FOR ALL PHONE SIZES--------------------- */
         /* And */
  /* Media query for smaller screens */


  @media screen and (max-width: 780px) {
   

    .logo {
        display: none;
        margin: 0px;
    }

    .logo_img2 {
        width: 100%;
        background-color: rgb(220, 220, 209);
        display:flex ;
        position: absolute;
        margin-bottom: 0.5rem;
        top:0;
    }

    .logo-image2 {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: solid 1px lightblue;
        display:flex ;
        margin-right: 80%; 
    }

    #menu-btn{
        display: block;
        margin-top: 0.4rem;
        color: blue;
        font-size: 20px;
    }

    .header_container .header  .active{ 
        position: fixed;
        right: 0;
        overflow-y:auto; 
        width: fit-content;
        border-bottom-left-radius: 20%;
        margin-top: 1.7rem;
        transition: 0.7s ease;
        transform:translateX(-0.1rem);
        margin-right: 0.1rem;

    } 

    .header_container .header .hidden {
        display: none;
      }

    


    .header_container .nav-list-content-first{
        width:0px; 
        height: 0px; 
    } 
    
    
    .header_container .nav-list-content {
        display: block;
        list-style-type: none;
        border-bottom-left-radius: 20%;
        height: 20%;
        width: fit-content;
        padding: 0.2rem;
        background-color: rgb(220, 220, 209);
        

    }

    
    
    .header_container .nav-list {
        color:blue;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

    } 
    
    .header_container .nav-list-content-first #estude{
        color:#654794;
        border:solide 2px;
        padding: 2px;
        border: solid 1px rgb(135, 202, 27);
        border-radius: 10px;
        background-color: rgb(210, 208, 212);

    }

        
    .img{
        display: flex;
        margin-right: -0.5rem;
    }

    .img img{
        margin-top: 2.8rem;
        width: 100%;
        height:10%;
        margin-bottom: -3.5rem;
    }


    /*----------------------- SOBRE NÓS SECTION  -------------------------*/

    .img{
        margin-bottom: 4rem;
    }
    .Sobre_Nos{
        background-color:white;
        width: 100%;
        height: fit-content;
        contain: content;
        border: dotted rgb(142, 14, 222) 2px;
    }
    
     #about_total {
        display: inline-block;
        background-color:white;
        width: auto;
        border-radius: 2rem;
        margin-top: -4.5rem;
    }

    .Sobre_Nos #hd{
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: blue;
        border-block: solid 0.2rem rgb(176, 176, 180);
        width: 60%;
        margin-left: 20%;
    }
    
    /* sizing image and text in the same block*/
   
    /* Controlling the image in the about block*/
    #about_total #about_img{
        width: 200%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        padding: 1px;
        /* border: dotted blue 2px; */
        justify-content: space-evenly;
        height: 300px;
        display: none;
    }

    #about_total #about_img2 .about_img2{
        display: block;
        align-items: center;
        text-align: center;
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-bottom: 0.5rem;

    }
    
    #about_total #about_img img{
        width: 100%;
        margin-top: 0.2rem;
        border-radius: 10px;
        height: 49%;
    }
    
    #about_total  p{
        font-size: 16px;
        text-align:left;
        width: 50;
        background-color: rgb(255, 255, 255);
        margin-left: 3px;
     }


    /*=========== MEDIA QUERY ---POR QUE NO´S ESCOLHER SECTION ============== */

    .Nos_Escolher{
        border-radius: 10px;
        width: 100%;
        contain: content;
        height: fit-content; 
    }

    .Nos_Escolher #hd{
        display: block;
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: blue;
        border-block: solid 0.2rem rgb(194, 194, 241);
        margin-right: 20%;
        margin-left: 20%;
        margin-top: -4.5rem;
    }

  
    .Nos_Escolher .course{
        align-items: center;
        border:solid dotted 1px;
        color: rgb(14, 2, 192);
        margin-top: 0.3rem;
        contain: content;
        width: auto;
        margin:0.1rem; 
    }

    .Nos_Escolher .course-card{
        display:inline-table;
        justify-content: space-between;
        height: 300px;
        width: 98%;
        border-radius: 12px;  
    }
    
     
    .Nos_Escolher .course-card :hover{
        transform: translateY(-0.5rem);
        transition-duration: 0.7s;
    }
    
     
    .Nos_Escolher .course .course-card .card{
        border-radius: 2%;
        width: 98%;
        height: fit-content;
        font-size: 16px;
        border: dotted blue 1.6px;
        contain: content;
        margin-bottom: 1rem;
    }
   
    .Nos_Escolher .course .course-card .card  p{
        text-align: left;
        margin-right: 8px;
        margin-left: 8px;
        color: rgb(22, 21, 21);
     }
     
    
     .Nos_Escolher .course .course-card .card .img_nos img{
        width: 80%;
        height: 40%;
     }
    
    
    .Nos_Escolher .course .course-card .card h3{
       font-size:18px;
       margin-bottom: 1rem;
    
    } 


    
    /* -----------Courses Section ---------------- */
    .courses{
        color: rgb(14, 2, 192);
        text-align: center;
        padding-top: 0.2rem;
        contain:content;
        margin-top:-1.5rem;
    }
    


    .courses #hd{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: blue;
        border-block: solid 0.2rem rgb(194, 194, 241);
        margin-right: 34%;
        margin-left: 34%;
        margin-bottom: 0.3rem;
        font-size: 20px;
    }


    .courses .course-card .card  p{
        text-align: left;
        margin-right: 8px;
        margin-left: 8px;
        color: rgb(22, 21, 21);
        text-wrap: balance;
        font-size: 16px;
    }
    

    .courses .course-card{
        display: inline-table;
        justify-content: space-between;
        width: 98%;
        contain: content;
        margin-bottom: -4rem;
    }


    .courses .course-card .card{
        background-color: rgb(255, 255, 255);
        border-radius: 2%;
        font-size: 16px;
        margin: 2px;
        border: dotted blue 1.6px;
        width: 99%;
        height: 50px;
        margin-bottom : 1rem;
        background-color: #634141;
        contain:content;
    }

    .courses .course-card :nth-child(1) p{
        margin-bottom: 2rem;
    }
    .courses .course-card :nth-child(2) p{
        margin-bottom: 2rem;
    }


    .courses .course-card :nth-child(3) p{
        margin-bottom: 2rem;
    }

    .courses .course-card :hover{
        transform: translateY(-0.5rem);
        transition-duration: 0.7s;
    }

    .courses .course-card .card  h1{
        font-size: 16px;
     }
    


/*--------------Footer section----------------------------*/
     .footer_all{
        width: 100%;
        height: fit-content;
        display: flex;
        contain: content;
        background-color: #4caf50;
    }

    .footer_all .left{
        width: 57%;  
    }

    .footer_all .left .contato h3{
        text-align: center;
        padding: 0.2rem;
        font-size: 20px;
    }

    .footer_all .left .contato #ptext h4{
        text-align: center;
        font-size: 18px;
    }

    .footer_all .left .contato #ptext p{
        margin-left: 20%;
        font: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }



    /* --------------Redes parte, Right side of the code---------------- */
    .footer_all .redes{
        width:300px;
        height: fit content;
        margin-left: -0.5rem;
    }

    .footer_all .redes h3{
        text-align: center;
        font-size: 20px;
    }

    .footer_all .redes .rede-img{
       height:fit-content;
       overflow-x: hidden;
       text-wrap: balance;
       display: block;
    }
    

    .footer_all .redes .rede-img img{
        border-radius: 100%;
        height: 23%;
        width: 23%;

    }

    .footer_all .redes .rede-img .rede_txt{
       display: flex;
       justify-content: space-evenly ;
       margin-bottom: 1rem;
       height: fit-content;
       font-size: 25px;
    }
    
    .footer_all .redes .rede-img #face{
        border-radius: 100%;
        height: 23%;
        width: 23%; 
    }

    .footer_all .redes .rede-img h5{
        font-size: 70%;
    }


    .subsection {
        bottom: 0;
        text-align: centers;
        justify-content: center;
        margin-left: 30%;
    }



    /*-------------Media query--------Registration parte of he code---------------------- */
    form {
        max-width: 55%;
        margin: 20px auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .container_reg label,#level {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        text-align: left;
        font-size: 10px;
      }

      .container_reg #fullName,#phone ,#email {
        height: 11px;
      }

      input, select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }
      
      button {
        background-color: #4caf50;
        color: white;
        padding: 7px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
      }
      
      .logo_reg {
          background-color: #ffffff;
          border:dotted 1px blue;
          height: 20%;
          margin-top: 1rem;
          width: 100%;
          text-align: center;
          background-color: #a39c9c;
      }

      .logo_reg .logo_center{
        display: flex;
        margin: 0.2rem;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        width: 100%;
      }
      
      .logo_reg img{
          width:30px;
          height: 30px;
          margin-left: 30%;
          justify-content: space-around;
          margin-right: 1rem;
          border-radius: 100%;
      }
      
      .logo_reg h2{
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-size: 16px;
          color: blue;
          text-align: center;
          margin-left: 0.8rem;
      }

    .container_reg h4{
        font-size: 10px;
    }
      
      button:hover {
        background-color: #45a049;
      }



   




  }



